.symbol {
    margin-right: 15px;
}

#detailedSummary td {
    padding-right: 10px;
}

.mmmtraffic-firstline{
    padding-top:15px;
}

.mmmtraffic-updateline {
    font-style: italic;
    font-size: medium;
}

.mmmtraffic-horizontaly {
    display: flex;
}

.mmmtraffic-container {
    margin: 0 1em;
}